a{
    cursor: pointer;
}
.logo{ 
    width: 120px;
    margin-top: 10px;
}
.navbar{
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.submit input{
    width: 130px;
    height: 40px;
    font-weight: bold;
    color: #fff;
    margin-top: 10px;
    float: right;
}
.index{
    text-align: left;
    margin-top: 10px;
}
#count{
    float: right;
    margin: 20px 15px 0 0;
}
#PostsAddPostForm{
    background-color: #EBF4FB;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #e1e8ed;
    margin-bottom: -1px;
}
.tweet{
    background-color: #fff;
    border: 1px solid #e1e8ed;
    margin-bottom: -1px;
    padding: 20px;
    cursor: pointer;
}
.tweet_header{
    text-align: left;
}
.tweet_name{
    font-size: 15px;
    font-weight: bold;
    color: #292f33;
    padding-left: 12px;
}
.tweet_created{
    color: #8899a6;
    font-size: 13px;
    float: right;
}
.tweet_content{
    text-align: left;
    padding-top: 10px;
    font-size: 14px;
}
.tweet_bottom{
    padding-left: 60px;
}
.tweet_bottom_meta{
    text-align: left;
}
.tweet_bottom_meta_left{
    float: left;
}
.tweet_bottom_meta_right{
    float: right;
}
.tweet_photo img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}
.left_comment{
    float: left;
    margin-right: 15px;
    color: #8899a6;
}
.glyphicon{
    color: #8899a6;
}
.left_comment span{
    margin-right: 3px;
}
.count{
    color: #8899a6;
}
.right_others{
    float: left;
}
.files_input{
    width: 30%;
    float: left;
    margin-top: 15px;
}
.preview{
    background-color: #f1f1f1;
    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 1px 0 #ccd6dd;
}
#preview{
    width: 75px;
    float: left;
}
.tweet_icon{
    width: 48px;
}
.comment_area textarea{
    width: 100%;
}
.comment_area_inner{
    padding: 30px;
    border: 1px solid #e1e8ed;
    margin-bottom: -1px;
    background-color: #EBF4FB;
}
.comment_list{
    background: #f5f8fa;
    border: 1px solid #e1e8ed;
    padding: 20px;
    margin-bottom: -1px;
}
.thumbnail img{
    /*width: 50%;*/
    /*padding: 40px 0;*/
    /*margin: 0;*/
}
.profile_img_edit{
    position: absolute;
    top: 10px;
    left: 25px;
    color: #000;
}
.edit_profile{
    background: rgba(0, 0, 0, 0.5);
}
.tweet_icon_box{
    overflow: hidden;
    height: 48px;
    width: 48px;
    float: left;
}

/* Topページ */
#PostsAddPostForm .file_frame{
    float: left;
    margin-top: 15px;
}
#PostsAddPostForm .file_frame:hover{
    border: 1px solid;
    border-color: #89BEE8;
    border-radius: 5px;
    margin-bottom: -2px
}

.file_frame span{
    margin-right: 5px;
    color: rgb(59, 148, 217);
}

@media screen and (max-width: 768px) {
    .colum-left{
        display: none;
    }
    .logo{
        margin-left:12px;
    }
}

.user_name{
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;   
}


#flashMessage{
    position: absolute;
    z-index: 100000;
    width: 50%;
    opacity: 0.9;
    top: 0;
    left: 25%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    text-align: center;
}

/* mypage */
.profile{
    padding: 10px;
    margin-top: 5px;
    min-height: 200px;
}
.profile_title{
    font-weight: bold;
    font-size: 12px;
}


/* Edit */
.file_frame {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  /*border: 1px solid #999;*/
  /*background-color: #A0D468;*/
  color: rgb(59, 148, 217);
}

.file_frame input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}

/* Album ページ */
.album img{
    width: 10%;
}


